/* All Over CSS */
:root {
  --secondary-color: rgb(85, 23, 25);
  --primary-color: rgb(44, 64, 71);
  --primary-font-color: rgb(218, 152, 68);
  --button-hover: rgb(64, 94, 105);
  --shadow-border-color: rgb(2, 33, 36);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(227, 233, 233);
}

/* Header Navigation */
header {
  padding: 20px 35px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-image: linear-gradient(
      rgba(121, 184, 175, 0.253),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/tron2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-font-color);
  font-family: "Courier New", Courier, monospace;
  text-shadow: -1px 0px 3px var(--shadow-border-color),
    -1px 0px 3px var(--shadow-border-color);
}

header a {
  text-decoration: none;
  color: var(--primary-font-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
  font-family: "Courier New", Courier, monospace;
  text-shadow: -1px 0px 3px var(--shadow-border-color),
    -1px 0px 3px var(--shadow-border-color);
}

header nav ul li a:hover {
  background: var(--button-hover);
  color: var(--primary-font-color);
  border-radius: 15px;
}

/* Hero */
.hero {
  background-image: url("../images/tron2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 650px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  border-bottom: 5px solid var(--shadow-border-color);
  background-image: linear-gradient(
      rgba(121, 184, 175, 0.253),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/tron2.jpg");
}

.hero-title {
  font-family: "Courier New", Courier, monospace;
  color: var(--primary-font-color);
  text-shadow: -1px 0px 3px var(--shadow-border-color),
    -1px 0px 3px var(--shadow-border-color);
  font-size: 1.60rem;
}

/* Main Body */
.main {
  display: flex;
}

.body-title {
  border-right: 3px solid var(--secondary-color);
  margin: 5px 0px 10px 10px;
  padding: 5px 10px 10px 10px;
  left: 0;
  flex: 1 20%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.body-title h2 {
  font-family: "Courier New", Courier, monospace;
  color: var(--primary-font-color);
  text-shadow: -1px 0px 3px var(--shadow-border-color),
    -1px 0px 3px var(--shadow-border-color);
  font-size: 2rem;
}

.body-box {
  margin: 10px 10px 10px 20px;
  flex: 2 80%;
  flex-wrap: wrap;
}

/* About Me */
#about-me {
}

.about-me {
}
.body-box p {
  color: var(--shadow-border-color);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

/* Work */
#work {
}
.work-wrapper {
  display: grid;
  margin: 10px 10px 10px 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.work-grid {
  border: 3px solid var(--shadow-border-color);
}

.title-link {
  flex: wrap;
  justify-content: flex-end;
  margin: 0 0 10px 0;
  padding: 10px;
  background-color: var(--button-hover);
  opacity: 80%;
}

.run-buddy {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background: url(../images/run-buddy.PNG);
  background: cover;
}

.horiseon {
  background: url(../images/horiseon.PNG);
  background-size: cover;
  text-align: bottom;
}

.proj3 {
  background: url(../images/proj3.jpg);
  background-size: cover;
}

.proj4 {
  background: url(../images/proj4.jpg);
  background-size: cover;
}

.proj5 {
  background: url(../images/proj5.jpg);
  background-size: cover;
}

/* Contact Me*/
#contact-me {
}
.contact-wrapper {
  display: grid;
  margin: 10px 10px 10px 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: dense;
  grid-gap: 30px;
}

.contact-grid {
  text-decoration: none;
  color: var(--primary-font-color);
  text-shadow: -1px 0px 3px var(--shadow-border-color),
    -1px 0px 3px var(--shadow-border-color);
  border-bottom: 3px solid var(--shadow-border-color);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-around;
}
